@page
@using Kidoo.Learn.Enums;
@using Kidoo.Learn.Localization
@using Kidoo.Learn.Permissions
@using Kidoo.Learn.Web.Pages.Students
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@inject IStringLocalizer<LearnResource> L
@inject IAuthorizationService AuthorizationService
@model Kidoo.Learn.Web.Pages.Questions.CreateModal
@{
    Layout = null;
    <abp-script src="/Pages/Questions/CreateModal.js" />
}
<form method="post" action="@Url.Page("/Questions/CreateModal")">
    <abp-modal scrollable="true" size="Large">
        <abp-modal-header title="Create a Question"></abp-modal-header>
        <abp-modal-body>
            <div class="form-group">
                <label asp-for="QuestionDto.Title"></label>
                <textarea asp-for="QuestionDto.Title" class="form-control"></textarea>
            </div>
            <span asp-validation-for="QuestionDto.Title" class="text-danger"></span>

            <div class="form-group">
                <label>Subject</label>
                <select asp-for="QuestionDto.Subject" class="form-control">
                    @foreach (var item in Html.GetEnumSelectList<Subject>())
                    {
                        <option value="@item.Value">@L[item.Text]</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Story Group</label>
                <select asp-for="QuestionDto.StoryGroup" class="form-control">
                    <option value="">@L["Select A Story Group"]</option>
                    @foreach (var item in Html.GetEnumSelectList<StoryGroup>())
                    {
                        <option value="@item.Value">@L[$"Enum:StoryGroup:{item.Value}"]</option>
                    }
                </select>
            </div>
            <span asp-validation-for="QuestionDto.StoryGroup" class="text-danger"></span>


            <div class="form-group">
                <label>Difficulty Level</label>
                <select asp-for="QuestionDto.DifficultyLevel" class="form-control">
                    @foreach (var item in Html.GetEnumSelectList<DifficultyLevel>())
                    {
                        <option value="@item.Value">@L[$"Enum:DifficultyLevel:{item.Value}"]</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="QuestionDto.Description"></label>
                <textarea asp-for="QuestionDto.Description" class="form-control"></textarea>
            </div>
            <span asp-validation-for="QuestionDto.Description" class="text-danger"></span>

            <div class="form-group">
                <label asp-for="QuestionDto.QuestionImageFile"></label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label>Class</label>
                <select class="form-control" asp-items="@Html.GetEnumSelectList<SchoolClass>()">
                </select>
            </div>
            <span asp-validation-for="QuestionDto.Class" class="text-danger"></span>

            <div class="form-group">
                <label>Question Type</label>
                <select asp-for="QuestionDto.QuestionType" class="form-control">
                    @foreach (var item in Html.GetEnumSelectList<QuestionType>())
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>

            <div id="multipleChoiceOptions">
                <label>Multiple Choice</label>
                <abp-container abp-border="Default" abp-rounded="Default">
                    <label>Option A</label>
                    <input asp-for="QuestionDto.Options[0].OptionText" class="form-control" />

                    <label>Option B</label>
                    <input asp-for="QuestionDto.Options[1].OptionText" class="form-control" />

                    <label>Option C</label>
                    <input asp-for="QuestionDto.Options[2].OptionText" class="form-control" />

                    <label>Option D</label>
                    <input asp-for="QuestionDto.Options[3].OptionText" class="form-control" />

                    <label>Multiple-Choice Answer</label>
                    <select asp-for="QuestionDto.MultipleChoiceCurrectAnswer" class="form-control">
                        <option value="">@L["Select an option"]</option>
                        @foreach (var item in Html.GetEnumSelectList<Options>())
                        {
                            <option value="@item.Value">@L[item.Text]</option>
                        }
                    </select>
                    <br />
                </abp-container>
            </div>


            <div class="form-group" id="singleTextOption">
                <label> Text Answer </label>
                <input asp-for="QuestionDto.CorrectAnswer" class="form-control" />
            </div>
            <span asp-validation-for="QuestionDto.CorrectAnswer" class="text-danger"></span>

        </abp-modal-body>
        <abp-modal-footer buttons="@AbpModalButtons.Save | @AbpModalButtons.Cancel"></abp-modal-footer>
    </abp-modal>
</form>
